<html>
  <%- include ("./partials/header.ejs", {title: "Books | Library"}) %>
  <body>
    <%- include ("./partials/sidebar.ejs") %>
    <div class="container-fluid pt-4">
      <div class="row">
        <div class="col">
          <h3>Books list</h3>

          <form class="row pt-4" action="/books/search-book" method="POST">
            <div class="col">
              Title: <input type="text" name="title" id="title" />
            </div>
            <div class="col">
              Author: <input type="text" name="author" id="author" />
            </div>
            <div class="col">
              Genre: <input type="text" name="genre" id="genre" />
            </div>
            <div class="col-sm-12">
              <button id="search_button" class="btn btn-primary my-2" type="submit">
                Search
              </button>
            </div>
          </form>

          <table class="table pt-4">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
                <th scope="col">MRP</th>
                <th scope="col">Copies Left</th>
              </tr>
            </thead>
            <tbody>
              <% books.forEach(function(book,i){%>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><a href="/book/<%=book.id%>/"><%= book.title %></a></td>
                <td><%=book.author%></td>
                <td><%=book.genre%></td>
                <td><%=book.rating%></td>
                <td><%=book.mrp%></td>
                <td><%=book.available_copies.length%></td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
