<html>
  <%- include ("./partials/header.ejs") %>

  <body>
    <%- include ("./partials/sidebar.ejs") %>
   
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h2>Title: <%= book.title %></h2>

          <dl>
            <dt>Genre:</dt>
            <dd><%= book.genre %></dd>
            <dt>Author:</dt>
            <dd><%= book.author %></dd>
            <dt>Description:</dt>
            <dd><%= book.description %></dd>
            <dt>Rating:</dt>
            <dd><%= book.rating %></dd>
            <dt>MRP:</dt>
            <dd>Rs. <%= book.mrp %></dd>
            <dt>Available Copies:</dt>
            <% num_avi=book.available_copies%>
            <dd><%= num_avi %></dd
              <% console.log(book.available_copies) %>  
          </dl>
          <% if(num_avi) {
            %>
          <form action="/books/issue" method="POST">
            <input type="text" hidden value="<%= book.id %>" name="bid" />
            <button class="btn btn-primary" id="loan-button" type="submit">
              Loan <%= book.title %>
            </button>
          <%
        }%>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
