<html>
  <%- include ("./partials/header.ejs") %>

  <body>
    <%- include ("./partials/sidebar.ejs") %>
    <div class="container-fluid text-center">
      <div class="row d-flex justify-content-center">
        
        <div class="col-sm-8 col-10">
          <h1 class="display-1">Books list</h1>

          <form class="d-flex justify-content-center" action="/books/search-book" method="POST">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="my-1 mr-2 " style="font-size: 1.5rem;">Title :</label>
                <input type="text" class="form-control mb-4" name="title" id="title" required placeholder="Book Title">
              </div>
              <div class="col-auto">
                <label class="my-1 mr-2" style="font-size: 1.5rem;">Author :</label>
                <input type="text" class="form-control mb-4" name="author" id="author" required placeholder="Book Author">
              </div>
              <div class="col-auto">
                <label class="my-1 mr-2" style="font-size: 1.5rem;">Genre :</label>
                <input type="text" class="form-control mb-4" name="genre" id="genre" required placeholder="Book Genre">
              </div>
              <div class="col-auto">
                
                <button id="search_button" class="btn btn-primary mt-4" type="submit">
                  Search
                </button>
              </div>
            </div>
          </form>
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
                <th scope="col">MRP</th>
              </tr>
            </thead>
            <tbody>
              <% books.forEach(function(book,i){%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td ><a href="/book/<%=book.id%>/" style="color : white;"><%= book.title %></a></td>
                <td><%=book.author%></td>
                <td><%=book.genre%></td>
                <td><%=book.rating%></td>
                <td><%=book.mrp%></td>
              </tr>
              <%})%>
            </tbody>
          
          </table>
          
        </div>
      </div>
    </div>

    <%- include("./partials/footer") %>
  </body>
</html>
