<html>
  <%- include ("./partials/header.ejs") %>

  <body>
    <%- include ("./partials/sidebar.ejs") %>
    <div class="container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 ">
          <div class="card text-white bg-dark mb-3 text-center">
            <h2 class="card-header">Title: <%= book.title %></h2>
            <div class="card-body">
              <h3 class="card-title">Genre</h3>
              <p class="card-text" style="font-size:1.2rem;"><%= book.genre %></p>
              <h3 class="card-title">Author</h3>
              <p class="card-text" style="font-size:1.2rem;"><%= book.author %></p>
              <h3 class="card-title">Description</h3>
              <p class="card-text" style="font-size:1.2rem;"><%= book.description %></p>
              <h3 class="card-title">Rating</h3>
              <p class="card-text" style="font-size:1.2rem;"><%= book.rating %></p>
              <h3 class="card-title">MRP</h3>
              <p class="card-text" style="font-size:1.2rem;">Rs. <%= book.mrp %></p>
              <h3 class="card-title">Available Copies</h3>
              <p class="card-text" style="font-size:1.2rem;"><%= book.available_copies %></p>
              <form action="/books/issue" method="POST">
                <input type="text" hidden value="<%= book.id %>" name="bid" />
                <button class="btn btn-light" id="loan-button" type="submit" style="font-size:1.3rem;">
                  Loan <%= book.title %>
                </button>
              </form>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>

    <%- include("./partials/footer") %>

  </body>
</html>
