<html>
  <%- include ("./partials/header.ejs") %>

  <body>
    <%- include ("./partials/sidebar.ejs") %>
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" required name="username" placeholder="username"
        value="<%= typeof username != 'undefined' ? username: '' %>"><br>
        <label for="password">Password:</label>
        <input type="password" required name="password" placeholder="password"
        value="<%= typeof password != 'undefined' ? password: '' %>"><br>
        <button type="submit">login</button>
    </form>
    <%- include ("./partials/message.ejs") %>
    <p>new user: <a href="/register">register</a></p>
  </body>
</html>